<!DOCTYPE html>
<html>
<head>
<title>Register Login with Authentication</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
	<h1>User login and Registration </h1>
	<!-- main -->
	<div class="main">
	
		
		<!--login-profile-->
		<!--signin-form-->
		<div class="w3">
			<div class="signin-form profile">
				<h3>Login</h3>
				
				<div class="login-form">
					<form action="/" method="post">
						<input type="text" name="logemail" placeholder="E-mail" required="">
						<input type="password" name="logpassword" placeholder="Password" required="">
						<div class="tp">
							<input type="submit" value="LOGIN NOW">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="agile">
			<div class="signin-form profile">
				<h3>Register</h3>
				
				<div class="login-form">
					<form id="login" action="/" method="post" onsubmit="event.preventDefault(); validateMyForm();">
						<input type="text" name="email" placeholder="E-mail" required="">
						<input type="text" name="username" placeholder="Username" required="">
						<input type="password" name="password" placeholder="Password" id="password" required="" >
						<input type="password" name="passwordConf" placeholder="Confirm Password" id="password_conf" required="">
						<input type="submit" value="REGISTER">
					</form>
                </div>
			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->	
	</div>
    <script type="text/javascript" src="./js/index.js"></script>
</body>
</html>