.button1{
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: none;
  color:  #000000;
  padding: 15px 32px;
  font-size: 16px;
  position: relative;
  margin-left: 40%;
  margin-right: auto;
  margin-top: -4%
  
}

.button1:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button2:active{
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}
.button2{
  background-color: white;
  -webkit-border-radius: 20px;  
  -moz-border-radius: 20px;
  border: none;
  color: #000000;
  padding: 15px 32px;
  font-size: 16px;
  margin-left: auto;
  margin-right: 30%;
  margin-top: -3em;
}

.methods{
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #000000;
   background-color: white;
    position: absolute;
    margin-left: 46.7%;
    margin-right: 50%;
    margin-top: -8em;
}

.textarea1{
     display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
    border:1px solid white;
    box-shadow: 0 0 15px #000000;
    resize: none;
    height: 200px;
    width:25%
   
    
}

.textarea2{
    position: absolute;
    margin-bottom: 10px;
    margin-left: 225px;
    border:1px solid white;
    box-shadow: 0 0 15px #000000;
    resize: none;
    height: 200px;
    width:25%
    
}

.textarea3{
    position: relative;
    margin-left: 697px;
    border:1px solid white;
    box-shadow: 0 0 15px #000000;
    resize: none;
    height: 200px;
    width:25%
}

.ciphertext{
    position: absolute;
    padding-left :22em;
    padding-top: 1px;
    color: white;
    text-align: center;
}

.decodedtext{
    position: absolute;
    padding-left :52em;
    padding-top: 2px;
    color: white;
}

.plaintext{
    text-align: center;
    color: white;
}

.shift_select{
   -webkit-border-radius: 20px;  
   -moz-border-radius: 20px;
   border: none;
   padding: 5px; 
   width: 268px;
   background-color: white;
   color:  #000000;
    position: absolute;
    margin-left: 39.7%;
    margin-right: 50%;
    margin-top: 7em;
}

.text1{
  text-align: center;
    color: white;
    
}
    
.shift{
    color: white;
    text-align: center;
    margin-top: 40px;
}

body {
    font-family: 'Jura', sans-serif;
    background:#94c7f7;
}

.everything{
   margin-top: -12em;
}

.profile_page{
    float:left;
    margin-top: -33em;
}

.profile_page{
  background-color: white;
  color: black;
  padding: 1em 1.5em;
}

.profile_page:visited {
  background-color: red;
}

.profile_page:active {
  background-color: red;
}
